<p>
  <h2>
  	<%= link_to post.title, post %>
  </h2>
</p>

<% if post.kind == 'image' %>
	<%= image_tag post.content, style: 'width 100%' %>
<% else %>

	<p> 
	  <%= simple_format(post.content) %>
	</p>
<% end %>

<p class='text-muted'>
	<small>Created On <%= post.created_at.to_formatted_s(:long) %></small>
</p>